/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

/* Estilo do título */
h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Estilo do formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

/* Estilo do select */
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

/* Estilo do botão excluir */
button {
    background-color: #dc3545; /* Vermelho */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    padding: 12px 15px;
    border-radius: 5px;
}

button:hover {
    background-color: #c82333;
}

/* Estilo do botão voltar */
.botao {
    background-color: #006d56;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    padding: 12px 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.botao:hover {
    background-color: #004d3f;
}

/* Responsividade */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    select, button {
        font-size: 1rem;
        padding: 10px;
    }
}
