/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Garante que o título e o formulário fiquem em coluna */
    text-align: center; /* Centraliza o título */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    width: 100%; /* Garante que o título ocupe toda a largura disponível */
}

/* Estilo para o formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    max-height: 100% ;
    margin-top: 20px; /* Garante um pequeno espaço entre o título e o formulário */
    padding-right: 43px;
}

label {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

/* Estilo específico para o textarea */
textarea {
    resize: vertical;
    min-height: 150px;
}

/* Estilo para o botão */

.botao {
    margin-top: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    padding: 12px 15px;
    border-radius: 5px;

}


button {
    background-color: #006d56;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    padding: 12px 15px;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.erro p {
    margin: 0;
}



/* Estilos para o layout responsivo */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    label {
        font-size: 1rem;
    }

    input, textarea, button {
        font-size: 0.95rem;
        padding: 8px;
    }
}
